body {
  margin: 0;
  font-family: 'Italianno', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.page {
  height: 100%;
  min-height: 100%;
}
